:root {
    --text-color: #f0f0f0;
    --background-color: #111111;
    --font-primary: 'Courier New', monospace;
    --accent-color: #16b4f1;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    overflow-x: hidden; /* Hides horizontal overflow, if any */
}

.main-content {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
}

.row {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between columns */
    height: 100vh; /* Viewport height */
}

.column-left {
    flex: 1; /* Allows columns to flexibly fill the available space */
    margin: 0 40px;
    padding: 20px;
    max-width: 50%; /* Ensures columns don't exceed half the container's width */
}

.column-right {
    flex: 1; /* Allows columns to flexibly fill the available space */
    margin: 0 40px;
    padding: 20px;
    max-width: 50%; /* Ensures columns don't exceed half the container's width */
    transform: translateY(-25px); /* Moves the column up by 20px */
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
}

header h2 {
    margin-left: 60px;
    padding: 20px 0;
    color: var(--accent-color);
    vertical-align: top; 
}

.home-button {
    color: var(--accent-color);
}

.about-me img {
    width: 250px;
    height: 250px;
    display: inline-block; /* Change display to inline-block */ 
    vertical-align: top; /* Aligns image to the top of the adjacent text  */
}

h2 {
    color: var(--accent-color);
    margin-bottom: 10px;
}

.justified-text {
    text-align: justify;
}

ul {
    list-style-type: square;
    padding: 0;
    padding-left: 20px; /* Adjusts the indentation of the list */
}

.no-bullet-list {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.no-bullet-list li a:hover {
    text-decoration: underline; /* Optional: Adds underline on hover */
    /* Add other hover styles as needed */
}

.no-bullet-list-underlined {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.no-bullet-list-underlined li a {
    text-decoration: underline; 
}

li {
    margin-bottom: 10px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .column {
        max-width: 100%; /* Columns take full width on smaller screens */
    }
}

/* Animation */
@keyframes slideUp {
    from {
        transform: translateY(50px); /* Start from below */
        opacity: 0; /* Start with invisible */
    }
    to {
        transform: translateY(0); /* End at the original position */
        opacity: 1; /* End with fully visible */
    }
}

.row {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

/* Background image */
#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    background-image: url('/images/background_img.png'); /* Update with your actual image path */
    background-size: cover; /* Covers the entire area without stretching */
    background-position: center;
    background-repeat: no-repeat; /* Prevents repeating the image */
    z-index: -1;
    display: block; /* Make sure it's set to block to be visible */
}


#main-content {
    margin: 0 auto;
    padding: 20px;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    background-color: var(--background-color);
    transition: margin-top 0.3s ease-out; /* Smooth transition for the push-down effect */
    /* Other existing styles... */
}


